p {
    font-family: 'Kalam', sans-serif;
	font-size: 1rem;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-left: 0;
    }

    nav ul {
        margin-top: 10px;
        margin-right: 0;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .contactpagina {
        margin: 5em 1em 0em; 
    }

    .gender-container {
        position: static;
        text-align: center;
        margin-top: 10px;
        margin-right: 0;
    }
}

a {
    color: #006400;
    text-decoration: none;
}

a:hover {
    color: #fff;
    background-color: #006400;
}

/* Active (clicked) link styles */
a:active {
    color: purple; 
}

tr:nth-child(even) {
    background-color: #CFF;
}

tr:nth-child(odd) {
    background-color: #FFF;
}

p::first-letter {
    font-size: larger;
    color: #006400;
}

div > p {
    font-weight: bold;
    color: #006400;
}

.cookies-message {
    z-index: 9999;
}

body
    {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #006400;
	font-family: 'Kalam', sans-serif;
    }

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #006400;
	border-bottom: #fff solid 3px;
}


.logo {
		width: 6em; 
		background: #fff; 
        padding: 7px; 
		margin: 0;
		margin-left: 30px;
	}

	
nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

nav ul li {
		display: inline;
		margin-right: 200px;
		font-family: 'Kalam', sans-serif;
	}

nav ul li a {
		text-decoration: none;
		color: #006400;
		background: #fff;
        padding: 5px 10px; 
        border-radius: 5px; 
}

.emailverzonden {
	text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

.emailverzonden p {
	font-size: 25px;
	color: #fff;
}


footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: #fff solid 3px;
  }
  
  .logo {
	width: 100px;
	background: #fff;
	padding: 7px;
  }
  
  p {
	order: 1; 
	color: #fff;
  }
  
  .footer-buttons {
	display: flex;
	gap: 80px; 
	align-items: center;
	order: 0; 
  }
  
  .footer-button {
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 80px; 
  }
  