p {
    font-family: 'Kalam', sans-serif;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-left: 0;
    }

    nav ul {
        margin-top: 10px;
        margin-right: 0;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .contactpagina {
        margin: 5em 1em 0em; 
    }

    .gender-container {
        position: static;
        text-align: center;
        margin-top: 10px;
        margin-right: 0;
    }
}

a {
    color: #006400;
    text-decoration: none;
}

a:hover {
    color: #fff;
    background-color: #006400;
}

/* Active (clicked) link styles */
a:active {
    color: purple; 
}

tr:nth-child(even) {
    background-color: #CFF;
}

tr:nth-child(odd) {
    background-color: #FFF;
}

p::first-letter {
    font-size: larger;
    color: #006400;
}

div > p {
    font-weight: bold;
    color: #006400;
}

.cookies-message {
    z-index: 9999;
}

body {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #006400;
	font-family: 'Kalam', sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #006400;
	border-bottom: #fff solid 3px;
}


.logo {
	width: 100px; 
	background: #fff; 
    padding: 7px; 
	margin: 0;
	margin-left: 30px;
}

	
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 200px;
	font-family: 'Kalam', sans-serif;
}

nav ul li a {
	text-decoration: none;
	color: #006400;
	background: #fff;
    padding: 5px 10px; 
    border-radius: 5px; 
}

article.fotozaanstada {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
    border-bottom: #fff solid 3px;
  }
  
.fotozaanstad-text {
    flex: 1;
  }

  .fotozaanstad-text p {
    font-size: 40px;
    color: #fff;
  }

  .fotozaanstad-text h1 {
    font-size: 30px;
    color: #fff;
  }
  
  .fotozaanstada img {
    float: right;
    max-width: 30%;
    height: auto;
  }

.foto-containereen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 60px;
}

.fotozaanseschansplaces {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.fotozaanseschansplaces img {
    max-width: 25%;
    height: auto;
    margin-right: 10%;
}

.Zaanseschansfoto-text {
    flex: 1;
}

.Zaanseschansfoto-text p {
    font-size: 25px;
    color: #fff;
}

.Zaanseschansfoto-text h1 {
    font-size: 20px;
    color: #fff;
}

.foto-containertwee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 60px;
}

.fotozaandijkerkerk {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex: 1;
}

.fotozaandijkerkerk img {
    max-width: 20%;
    height: auto;
    margin-left: 10%;
}

.Zaandijkerkerk-text {
    flex: 1;
}

.Zaandijkerkerk-text p {
    font-size: 25px;
    color: #fff;
}

.Zaandijkerkerk-text h1 {
    font-size: 20px;
    color: #fff;
}


.foto-containerdrie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px;
}

.fotoczaarpeterhuisje {
    display: flex;
    align-items: center;
    flex: 1;
}

.fotoczaarpeterhuisje img {
    max-width: 20%;
    height: auto;
    margin-right: 10%;
}

.fotoczaarpeterhuisje-text {
    flex: 1;
}

.fotoczaarpeterhuisje-text p {
    font-size: 25px;
    color: #fff;
}

.fotoczaarpeterhuisje-text h1 {
    font-size: 20px;
    color: #fff;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: #fff solid 3px;
}
  
.logo {
	width: 100px;
	background: #fff;
	padding: 7px;
}
  
p {
	order: 1; 
	color: #fff;
    margin-right: 30px;
}
  
.footer-buttons {
	display: flex;
	gap: 80px; 
	align-items: center;
	order: 0; 
}
  
.footer-button {
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 80px; 
}
  